{% extends 'base.html' %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="container" id="div1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Cult Movies Blog</span>
                        <span class="skills"></span>
   <img alt="" style="width: 271px; height: 156px; margin-top: 1px; margin-left: 0px;"
        class="" src="https://tse3.mm.bing.net/th?id=OIP.M89e281ef70c2229dada1cd36879665f0o0&amp;pid=15.1&amp;P=0&amp;
        w=271&amp;h=156" id="yui_3_5_1_1_1479810468319_2714">

    </div>
            </div>
            </div>
        </div>
    </header>

    <!-- Movie Database section -->
    <section id="portfolio" id="div2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="database">
                    <h2 class="data">Movies Database</h2>
                    <img alt="" style="width: 174px; height: 153px; margin-top: 1px; margin-left: 0px;"
                         class="" src="https://tse2.mm.bing.net/th?id=OIP.Mf579d531390fa2989754a1094071dbc3o0&amp;
                         pid=15.1&amp;P=0&amp;w=174&amp;h=153" id="yui_3_5_1_1_1479736358838_1571">
                   </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                       </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                       </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                      </a>
                </div>
                </div>
        </div>
    </section>

    <!-- The Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="blogtext">
                    <a href="../../blog/templates/blogpostform.html"><h2 class="white">The Blog</h2></a>
    <img alt="" style="width: 158.9px; height: 158.9px; margin-top: 0px; margin-left: 0px;"
          class="" src="https://tse2.mm.bing.net/th?id=OIP.M8c4446adf3a12668b155c08513f38523o0&amp;pid=15.1&amp;
          P=0&amp;w=300&amp;h=300" id="yui_3_5_1_1_1479736358838_2038">
       </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  </div>
                <div class="col-lg-4">
                   </div>
                  </div>
        </div>
    </section>

    <!-- The Store Section -->
    <section class="success" id="store">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="storetext">
                 <a href="store.html"><h2 class="data">The Store</h2></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  </div>
                <div class="col-lg-4">
                   </div>
                  </div>
        </div>
    </section>


{% endblock %}